@font-face {
    font-family: fa;
    src: url("./fonts/ComicSansMS3.ttf");
}

body {
    font-family: fa;
    background-image: url("./images/bg.jpg");
    background-size: contain;
    background-position: center;
    height: 100vh;
    margin: 0;
}

button {
    font-family: fa;
    font-weight: bold;
    font-size: 2rem;
    width: fit-content;
    align-self: center;
    margin-top: 50px;
    padding: 1rem;
    border-radius: 15px;
    border: solid #000 3px;
    background-color: pink;
    color: #000;
}

h1{
    font-size: 3rem;
    background-color: aliceblue;
    width: fit-content;
    padding: 5px;
}

#root{
    padding: 0 20px;
}

/* Main */
.main{
    display: flex;
    flex-direction: column;
}

.t1, .t2, .t3{
    transform: translateX(-500px);
}

.t1 {
    animation: slideIn 2000ms linear 1 forwards;
    align-self: flex-start;
    
}
.t2 {
    animation: slideIn 2000ms 1400ms linear 1 forwards;
    align-self: center;
}
.t3 {
    animation: slideIn 2000ms 3500ms linear 1 forwards;
    align-self: flex-end;
}

@keyframes slideIn {
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.two, .three, .four {
    display: flex;
    flex-direction: column;
}

.four img{
    animation: fadeIn 2000ms linear 1 forwards;
}

@keyframes fadeIn {
    0%{
        transform: scale(0.01) rotate(-90deg);
    }
    50%{
        transform: scale(.5) rotate(-45);
    }
    100%{
        transform: scale(1) rotate(0);
    }
}